@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #fff3e0;
  color: #1a130d;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.font-arsenal {
  font-family: "Arsenal SC", sans-serif;
}

.gradient-border {
  border-radius: 6px;
  position: relative;
  background: transparent;
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0; */
  border-radius: 6px;
  padding: 2px; /* толщина рамки */
  background: linear-gradient(
    to right,
    rgba(18, 18, 18, 0.26),
    rgba(255, 255, 255, 0.25)
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  z-index: 10;
}

/* Скрыть стрелочки у input[type=number] */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}

/* Hide scrollbar for horizontal gallery */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@media (max-width: 767px) {
  #lightboxContainer button.imageModal {
    display: none !important;
  }
}